:root {
  --color-background: #d6dbf6;
  --color-text: #636667;
  --color-blue: #188FD9;
  --light-blue: #94BDF2;
  --light-blue-2: #cee0f6;
  --dark-blue: #012326;
  --light-dark-blue: #025373;
  --light-grey: #c6c6c7;
}